main.CV-page

  h1.CV-primaryHeading
    span.CV-primaryHeading-name Davide L Rizzo 
    small.CV-primaryHeading-position User Experience and <span class="CV-u-nowrap">Front-end</span> Designer
  
  .CV-details
    a.CV-detail.CV-detail--twitter href="https://twitter.com/davidelrizzo"
      .CV-detail-key Twitter 
      .CV-detail-val @davidelrizzo
    a.CV-detail.CV-detail--linkedin href="http://au.linkedin.com/pub/davide-rizzo/a7/393/18"
      .CV-detail-key LinkedIn 
      .CV-detail-val au.<wbr>linkedin<wbr>.com/pub/davide-rizzo
    a.CV-detail.CV-detail--website href="http://www.davidelrizzo.com"
      .CV-detail-key Website 
      .CV-detail-val www<wbr>.davidelrizzo<wbr>.com
    a.CV-detail.CV-detail--blog href="http://davidelrizzo.tumblr.com"
      .CV-detail-key Blog 
      .CV-detail-val davidelrizzo<wbr>.tumblr<wbr>.com
    a.CV-detail.CV-detail--experiments href="http://codepen.io/davidelrizzo"
      .CV-detail-key Web experiments 
      .CV-detail-val codepen.io/<wbr>davidelrizzo
  
  
  p.CV-introBlurb
    | I am a Melbourne-based User Experience and Front-End Designer with more than 15 years experience across various industries. I live on the line between design and development, with UX and Front-End being the perfect synergy for my skills. I am currently employed at the Suncorp Group as a Senior UX Designer working on personal insurance sites and web applications for some of the largest insurance brands in Australia. I am the founder of Suncorp’s front-end multi-brand styleguide.
  hr
  
  .CV-grid
    
    .CV-grid-column.CV-grid-column--left

      .CV-jobs
        h2.CV-secondaryHeading.CV-jobs-heading Employment history

        section.CV-timeline.CV-job
          h3.CV-timeline-heading
            span.CV-timeline-heading-title Senior UX Designer 
            | &#8211; 
            span.CV-timeline-heading-location Suncorp Group 
            small.CV-timeline-heading-duration 2012 to current
          ul.CV-timeline-details
            li.CV-job-timeline-item 
              |Pioneer and creator of the Suncorp Web Styleguide - a living multi-brand front-end framework. This supported Suncorp in implementing Australia’s first responsive insurance quote flow and permits scaling of application design never before possible.
            li.CV-job-timeline-item 
              | Sole specialist in component based and responsive design, HTML prototyping, progressive enhancement, icon curation, font-end mult-brand architecture and design for reusable patterns.
            li.CV-job-timeline-item 
              | Design, development, information architecture, user testing and UX research for the Suncorp Insurance brands: AAMI, GIO, Suncorp, Bingle, IMR, Just Car, Terry Sheer, Apia quote flow applications for home, car and motorcycle insurance. 

        section.CV-timeline.CV-job
          h3.CV-timeline-heading
            span.CV-timeline-heading-title Internet Team Leader 
            | &#8211; 
            span.CV-timeline-heading-location The Just Group 
            small.CV-timeline-heading-duration 2006 to 2012
          ul.CV-timeline-details
            li.CV-timeline-details-item
              | 2006 to 2012 Manager of The Just Group Web Design team responsible for website maintenance and EDM campaign to hundreds of thousands of customers each week across 7 brands. 
            li.CV-timeline-details-item
              | Implemented front-end integration for company-wide rollout of <em>WebSphere Commerce</em>, including site wide prototypes and dynamic marketing - Jay Jays and Dotti (in 2010), Portmans and Jacqui E (in 2011), Smiggle Peter and Alexander (in 2012).
            li.CV-timeline-details-item
              | Primary interface designer and front end developer for The Just Group websites, with builds including Just Jeans (2006 and again in 2009), Dotti (2007), Jacqui E (2007), The Just Group (2007), Smiggle (2008) and Peter Alexander (2008 to 2009).
            li.CV-timeline-details-item
              | Overhaul of The Just Group eCommerce platform front-end on the <em>Interworld</em> platform. Comprehensive work on customer registration, online product catalogues and checkout systems.
            li.CV-timeline-details-item
              | Animation and game design. Pioneered technique for <em>Progressive Enhanced Flash site</em> for Dotti.
            li.CV-timeline-details-item
              | Management, mentoring and training of junior and senior web designers. Project and team time management under continual heavy deadlines.

        section.CV-timeline.CV-job
          h3.CV-timeline-heading
            span.CV-timeline-heading-title Lead Web Designer 
            | &#8211; 
            span.CV-timeline-heading-location ANZ Bank (anz.com) 
            small.CV-timeline-heading-duration 2004 to 2005
          ul.CV-timeline-details
            li.CV-timeline-details-item
              |  Full responsibility for ANZ website graphics (anz.com), including homepage, promotions, banners, landing pages, animations and games.
            li.CV-timeline-details-item
              | Management of design standards for anz.com, including the creation of an online Web Styleguide. 
            li.CV-timeline-details-item
              | Management and mentoring of web designers located in India.

        section.CV-timeline.CV-job
          h3.CV-timeline-heading
            span.CV-timeline-heading-title Usability and Graphic Designer 
            | &#8211; 
            span.CV-timeline-heading-location ANZ Bank 
            small.CV-timeline-heading-duration 2002 to 2004
          ul.CV-timeline-details
            li.CV-timeline-details-item
              | Graphic design for ANZ Internet and Intranet including ANZ Private, ANZ Pacific and ANZ Royal Cambodia websites. Construction of interactive animated promotions for anz.com and Esanda finance.
            li.CV-timeline-details-item
              | Construction of Flash applications and Screensavers, Product demos, CD ROM applications and ATM screens.
            li.CV-timeline-details-item  
              | Involvement with Intranet strategy groups for the construction of best practice Intranet sites and overall Intranet design guidelines and policy.

        section.CV-timeline.CV-job
          h3.CV-timeline-heading
            span.CV-timeline-heading-title Publishing administrator 
            | &#8211; 
            span.CV-timeline-heading-location INT Press educational bookshop 
            small.CV-timeline-heading-duration 1996 – 2000
          ul.CV-timeline-details
            li.CV-timeline-details-item
              | Desktop publishing (printed educational books), mail order and invoicing with MYOB. 

        section.CV-timeline.CV-job
          h3.CV-timeline-heading
            span.CV-timeline-heading-title Freelance work
          ul.CV-timeline-details
            li.CV-timeline-details-item
              | Site design and development for the <em>Da Vinci Machines</em> and <em>Ancient Rome</em> exhibitions. A dedicated responsive website for prospective patrons wanting information on exhibitions around Australia. (2008, 2009, 2011)
            li.CV-timeline-details-item
              | <em>Abstract Creative</em> full development of a fluid, progressive enhanced and content managed website in Flash. (2006)
            li.CV-timeline-details-item
              | <em>Shantaram</em> website design and development, to support stories and essays from the author of the best selling Australian novel. (2004)


    .CV-grid-column.CV-grid-column--right
    
      .CV-skills
        h2.CV-secondaryHeading.CV-skills-heading Technical Skills
        /p.CV-skills-definition Rating out of 5, where 5 is a core specialty.

        section.CV-skill-group
          h3.CV-skills-group-heading Languages &amp; Tools
          .CV-skills-group-list
            .CV-skill
              .CV-skill-name HTML
              .CV-skill-value colspan="5": meter.CV-skill-rating min="0" max="5" value="5" 5/5
            .CV-skill
              .CV-skill-name CSS
              .CV-skill-value colspan="5": meter.CV-skill-rating min="0" max="5" value="5" 5/5
            .CV-skill
              .CV-skill-name JavaScript
              .CV-skill-value colspan="5": meter.CV-skill-rating min="0" max="5" value="4.5" 4.5/5
            .CV-skill
              .CV-skill-name Pre<wbr>processors 
              .CV-skill-value colspan="5": meter.CV-skill-rating min="0" max="5" value="4.5" 4.5/5
            .CV-skill
              .CV-skill-name: a href="http://jquery.com": span jQuery
              .CV-skill-value colspan="5": meter.CV-skill-rating min="0" max="5" value="4.5" 4.5/5
            .CV-skill
              .CV-skill-name
                a href="http://git-scm.com": span Git
                | /
                a href="http://gruntjs.com": span Grunt
                | /
                a href="http://bower.io": span  Bower
              .CV-skill-value colspan="5": meter.CV-skill-rating min="0" max="5" value="3" 3/5


        section.CV-skill-group
          h3.CV-skills-group-heading Applications
          .CV-skills-group-list
            .CV-skill
              .CV-skill-name Photoshop
              .CV-skill-value: meter.CV-skill-rating min="0" max="5" value="5" 5/5
            .CV-skill
              .CV-skill-name Illustrator
              .CV-skill-value: meter.CV-skill-rating min="0" max="5" value="3" 3/5
            .CV-skill
              .CV-skill-name: a href="http://www.axure.com": span Axure
              .CV-skill-value: meter.CV-skill-rating min="0" max="5" value="4.5" 4.5/5

        section.CV-skill-group
          h3.CV-skills-group-heading Techniques
          .CV-skills-group-list
            .CV-skill
              .CV-skill-name Wireframing
              .CV-skill-value: meter.CV-skill-rating min="0" max="5" value="5" 5/5
            .CV-skill
              .CV-skill-name Prototyping
              .CV-skill-value: meter.CV-skill-rating min="0" max="5" value="5" 5/5
            .CV-skill
              .CV-skill-name: a href="http://en.wikipedia.org/wiki/Responsive_web_design": span Responsive Design
              .CV-skill-value: meter.CV-skill-rating min="0" max="5" value="5" 5/5
            .CV-skill
              .CV-skill-name Design for Reuse and Maintenance 
              .CV-skill-value: meter.CV-skill-rating min="0" max="5" value="5" 5/5
            .CV-skill
              .CV-skill-name
                a href="http://en.wikipedia.org/wiki/Progressive_enhancement": span Progressive Enhancement
              .CV-skill-value: meter.CV-skill-rating.CV-skill-rating min="0" max="5" value="5" 5/5
            .CV-skill
              .CV-skill-name Information architecture 
              .CV-skill-value: meter.CV-skill-rating min="0" max="5" value="4" 4/5
            .CV-skill
              .CV-skill-name User Testing
              .CV-skill-value: meter.CV-skill-rating min="0" max="5" value="4" 4/5
            .CV-skill
              .CV-skill-name Accessibility
              .CV-skill-value: meter.CV-skill-rating min="0" max="5" value="4" 4/5
            .CV-skill
              .CV-skill-name Version control
              .CV-skill-value: meter.CV-skill-rating min="0" max="5" value="3" 4/5

        section.CV-skill-group
          h3.CV-skills-group-heading Versatility <br> (Design and Development)
          .CV-skills-group-list
            .CV-skill
              .CV-skill-name Websites
              .CV-skill-value: meter.CV-skill-rating min="0" max="5" value="5" 5/5
            .CV-skill
              .CV-skill-name Web apps
              .CV-skill-value: meter.CV-skill-rating min="0" max="5" value="5" 5/5
            .CV-skill
              .CV-skill-name Emails
              .CV-skill-value: meter.CV-skill-rating min="0" max="5" value="4.5" 5/5
            .CV-skill
              .CV-skill-name Games
              .CV-skill-value: meter.CV-skill-rating min="0" max="5" value="3.5" 3.5/5
            .CV-skill
              .CV-skill-name Real-time apps
              .CV-skill-value: meter.CV-skill-rating min="0" max="5" value="3" 3/5
            .CV-skill
              .CV-skill-name Content management
              .CV-skill-value: meter.CV-skill-rating min="0" max="5" value="4" 4/5
            .CV-skill
              .CV-skill-name Icons 
              .CV-skill-value: meter.CV-skill-rating min="0" max="5" value="4" 4/5
            .CV-skill
              .CV-skill-name Animation
              .CV-skill-value: meter.CV-skill-rating min="0" max="5" value="3" 3/5
            .CV-skill
              .CV-skill-name Native Apps
              .CV-skill-value: meter.CV-skill-rating min="0" max="5" value="3" 3/5
            .CV-skill
              .CV-skill-name Documentation
              .CV-skill-value: meter.CV-skill-rating min="0" max="5" value="5" 5/5
  
  /.CV-pageBreakBefore
  
  .CV-education
    h2.CV-secondaryHeading.CV-education-heading Public Speaking

    section.CV-timeline.CV-education-group
      h3.CV-timeline-heading
        span.CV-timeline-heading-title The Secret Life of Inputs
        small.CV-timeline-heading-duration Understanding input behaviour across browsers and devices is essential to best practice form design.
      ul.CV-timeline-details
        li.CV-timeline-details-item
         | Aug 2015: UX Australia
        li.CV-timeline-details-item
         | June 2015: IxDA Melbourne Meetup
        li.CV-timeline-details-item
         | Mar 2015: CSSConf Australia (Decompress)

    section.CV-timeline.CV-education-group
      h3.CV-timeline-heading
        span.CV-timeline-heading-title Multibrand Styleguides
        small.CV-timeline-heading-duration How the Suncorp Front-End Styleguide was built to support multiple components, brands and platforms.
      ul.CV-timeline-details
        li.CV-timeline-details-item
          | Dec 2014: Melb CSS Meetup

  
  
  /.CV-pageBreakBefore
  
  
  .CV-education
    h2.CV-secondaryHeading.CV-education-heading Education history

    section.CV-timeline.CV-education-group
      h3.CV-timeline-heading
        span.CV-timeline-heading-title Bachelor of Computer Science 
        span.CV-timeline-heading-location Melbourne University 
        small.CV-timeline-heading-duration 1999 – 2003
      ul.CV-timeline-details
        li.CV-timeline-details-item
         | Study areas included: Programming, Software lifecycle and development, Artificial Intelligence, Database management, Usability, Interface Design, Classics, History, Photography.

    section.CV-timeline.CV-education-group
      h3.CV-timeline-heading
        span.CV-timeline-heading-title Victorian Certificate of Education 
        span.CV-timeline-heading-location Strathmore Secondary College 
        small.CV-timeline-heading-duration Completed 1998
      ul.CV-timeline-details
        li.CV-timeline-details-item
          | TER Score of 92.5, received straight A+ in Mathematical Methods, Information Process and Management, and Information Systems.
        li.CV-timeline-details-item
          | Graphics Common Assessment Task (CAT) was nominated for entry in Scienceworks Top CATs exhibition.

    section.CV-timeline.CV-education-group
      h3.CV-timeline-heading
        span.CV-timeline-heading-title Professional training
      ul.CV-timeline-details
        li.CV-timeline-details-item
          | 2015: UX Australia, Brisbane
        li.CV-timeline-details-item
          | 2015: CSSConf Australia, Melbourne
        li.CV-timeline-details-item
          | 2014: 1st CSS &amp; JS Conference Melbourne
        li.CV-timeline-details-item
          | 2013: UX Australia conference + workshops, Melbourne
        li.CV-timeline-details-item
          | 2009: eCommerce &amp; Marketing conference, Sydney
        li.CV-timeline-details-item
          | 2008: WACAG 2.0 Accessibility standards seminar
        li.CV-timeline-details-item
          | 2006: Vision Australia, Web Accessibility Training
        li.CV-timeline-details-item
          | 2006: Max Design, Advanced CSS Programming course
        li.CV-timeline-details-item
          | 2005: Semi-Permanent Design conference, Sydney
        li.CV-timeline-details-item
          | 2004: Macromedia certified course, Advanced application development
        li.CV-timeline-details-item
          | 2002: ANZ Breakout performance and culture 2 day workshop
